/* Common */
a {
    text-decoration: none;
}

.shadow{
    -webkit-box-shadow: 27px 43px 43px -26px rgba(89,89,89,0.39);
    -moz-box-shadow: 27px 43px 43px -26px rgba(89,89,89,0.39);
    box-shadow: 27px 43px 43px -26px rgba(89,89,89,0.39);
}

/* Header */
.header-nav {
    position: relative;
    background: rgb(83,131,232);
    background: linear-gradient(90deg, rgba(83,131,232,1) 0%, rgba(9,9,121,1) 35%, rgba(35,47,70,1) 100%);
    height: 70px;
    width: 100%;
}

.header-nav a {
    color: #fff;
}

.header-nav .header-nav-logo {
    left: 14px;
    top: 14px;
    position: absolute;
    font-size: 50px;
    font-family: 'Black Han Sans', sans-serif;
    bottom: 10px;
}

.header-nav .header-nav-signin {
    position: absolute;
    right: 35px;
    top: 22px;
    background: rgb(105,163,255);
    background: linear-gradient(162deg, rgba(105,163,255,1) 0%, rgba(43,125,254,1) 50%, rgba(43,125,254,1) 100%);
    border-radius: 10px;
    height: 25px;
    width: 120px;
    font-size: 20px;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
}

.header-nav .header-nav-signin a {
    position: absolute;
    top: 3px;
    width: 120px;
    right: 0px;
}

.header-nav .header-nav-viewin {
    position: absolute;
    right: 35px;
    top: 22px;
    background: rgb(105,163,255);
    background: linear-gradient(162deg, rgba(105,163,255,1) 0%, rgba(43,125,254,1) 50%, rgba(43,125,254,1) 100%);
    border-radius: 10px;
    height: 25px;
    width: 120px;
    font-size: 20px;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
    margin-right: 140px;
}

.header-nav .header-nav-viewin a {
    position: absolute;
    top: 3px;
    width: 120px;
    right: 0px;
}

.main {
    position: relative;
    width: 100%;
    /* height: 1130px; */
    height: 1130px;
    background: rgb(105,163,255);
    background: linear-gradient(162deg, rgba(105,163,255,1) 0%, rgba(43,125,254,1) 50%, rgba(43,125,254,1) 100%);
}

.main .main-logo {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 275px;
    margin-left: -175px;
    margin-top: -150px;
}

.main .main-logo span {
    color: #fff;
    font-size: 70px;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
}

.main .main-text {
    width: 500px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 175px;
    margin-left: -175px;
    margin-top: -150px;
}

.main .main-text span {
    position: absolute;
    color: #fff;
    font-size: 30px;
    font-family: 'Black Han Sans', sans-serif;
}

.main .main-search .main-search-bar {
    position: absolute;
}
/* #5383e8 */